
.container{
    margin-top: 30px;

}
.error{
    color: #1E90FF;
}

h1{
	margin: auto;
	padding: auto;
    color: 	#E6E6FA;
    font-size: 100px;
}

nav{
	margin: auto;
	padding: auto;
	color:  #778899;
}

*{
    margin: auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.logout {
    display: inline;
    background: white;
    border: none;
    color: #778899;
    cursor: pointer;

}


.add-item-container form,
.add-item-container div{
    display: inline;
}

.form-group{
    width: 60%;
}

table{
    table-layout: fixed;
}

td{
    word-wrap:break-word;
}

.button{
    display: inline;
    background: #E6E6FA;
    border: none;
    color: #778899;
}

