<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">goMe</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <ul class="pull-left">
        <a href="/go-me/">goMe</a> |
        <a href="/go-me/done-list">doneList</a>  |
        <a href="/category">categories</a> |
        <a href="/go-me/email">share</a>
    </ul>
    <span class="pull-right">
    <form action="/user/logout" method="post">
        <input type="submit" class="logout" value="Logout" />
    </form>
    </span>
    <div class="remove-menu">
        <ul class="pull-right">
            <a href="/go-me/remove">remove items</a> |
            <a href="/category/remove">remove categories</a> |
        </ul>
    </div>

</nav>




</body>
</html>

