<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<div>
    <body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>
    <br />
    <br />
    <form method = "post" th:object="${user}" >
        <label class="form" th:for="username">Username </label>
        <input type="text" th:field="*{username}" name="username" />
<br /><br />

        <label class="form" th:for="password">Password </label>
        <input type="password" th:field="*{password}" name="password" />


        <input type="submit" value="Login" />

    </form>

    </body>
</div>
</html>