<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

    <h3 th:unless="${categories} and ${categories.size()}"> Add a     <a href="/category">category</a>
 to get started    </h3>

<form method="post" style="max-width:600px;" th:object="${logItem}">
    <span th:if="${categories} and ${categories.size()}">
    <div class="form-group">
        <label th:for="description">What did you get done?</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Category</label>
        <select name = "categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}">
            </option>
        </select>
    </div>
        <input type="submit" value="go me" />
    </span>


</form>

</body>
</html>