<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<h2> doneList </h2>

<p th:unless="${logItems} and ${logItems.size()}"><a href="/go-me">Add some accomplishments! </a></p>
<ul th:each="logItem : ${logItems}">
    <li th:text = "${logItem.dateTime} + '  -  ' +  ${logItem.category.name} + ':   '  + ${logItem.description} "></li>
</ul>

<br/>
<a href="/go-me/remove">remove items</a>
<br/>
<br />
<a href="/go-me/email">Email a list of your accomplishments.</a>
<br /><br />

<form th:replace="fragments::logout"></form>
</body>
</html>