<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<h2> doneList </h2>

<p th:unless="${logItems} and ${logItems.size()}"> Add some accomplishments! </p>
<ul th:each="logItem : ${logItems}">
    <li th:text = "${logItem.category.name} + ':   '  + ${logItem.description}"></li>
</ul>

<br/>
<a href="/go-me/remove">remove items</a>


<br /><br /><br />
<form th:replace="fragments::logout"></form>
</body>
</html>