<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<br/>

<form method = "post" th:object="${email}">
    <div class="form-group">
    <h2> Email a list of your accomplishments </h2>

    <label th:for="toEmail">email to:   </label>
    <input class="form-control" style="max-width:300px;" type="email" th:field="*{toEmail}" />
    <span th:errors="*{toEmail}" class="error"></span> <br />

    <label th:for="sender">from (enter name or e-mail address):   </label>
    <input class="form-control" style="max-width:300px;" type="text" th:field="*{sender}" />
    <span th:errors="*{sender}" class="error"></span> <br />

    <label th:for="message">message: </label>
    <input class="form-control" style="max-width:500px;" th:field="*{message}" />
    <span th:errors="*{message}" class="error"></span> <br />

    <p class="error" th:text = "${emailError}"/>

    <input class="button" type="submit" value="Send" />
    </div>
</form>


</body>
</html>