<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<h2> Email a list of your accomplishments </h2>

<form method = "post" th:object="${email}">
    <label class="form" th:for="toEmail">Email to:   </label>
    <input type="email" th:field="*{toEmail}" />
    <span th:errors="*{toEmail}" class="error"></span> <br /><br />

    <label class="form" th:for="sender">From:   </label>
    <input type="text" th:field="*{sender}" />
    <span th:errors="*{sender}" class="error"></span> <br /><br />

    <label class="form-group" th:for="message">Message: </label>
    <input class="form-control" th:field="*{message}" />
    <span th:errors="*{message}" class="error"></span> <br /><br />

    <p th:text = "${emailError}"/>

<br/><br/>
    <input type="submit" value="Send" />

</form>
<br/>
<br /><br /><br />
<form th:replace="fragments::logout"></form>

</body>
</html>